@model VisualAlgorithms.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="main-form-container col-4">
    <div class="main-form-title text-center">Сброс пароля</div>
    <form class="main-form" method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div class="main-form-label text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email" class="main-form-label"></label><br />
            <input asp-for="Email" class="form-control" />
            <span class="main-form-label text-danger" asp-validation-for="Email"></span>
        </div>
        <div>
            <input class="button button-success main-form-btn" type="submit" value="Сбросить" />
        </div>
    </form>
</div>