@model VisualAlgorithms.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="main-form-container col-8">
    <div class="main-form-title text-center">Сброс пароля</div>
    <p class="description-paragraph main-form-label-lg">
        На Ваш почтовый ящик (@Model.Email) было отправлено сообщение, содержащее ссылку для сброса пароля.<br />
        Пожалуйста, перейдите по этой ссылке для того, чтобы изменить свой пароль.<br />
        Если Вы не обнаружите письмо, проверьте папку "Спам" - возможно, оно попало туда по ошибке.<br />
        Если письмо не было получено, обратитесь к администратору для сброса пароля.
    </p>
</div>

