@model VisualAlgorithms.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="main-form-container col-4">
    <div class="main-form-title text-center">Сброс пароля</div>
    <form class="main-form" method="post" asp-controller="Account" asp-action="ResetPassword">
        <div class="main-form-label text-danger" asp-validation-summary="ModelOnly"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Email" class="main-form-label"></label><br />
            <input asp-for="Email" class="form-control" />
            <span class="main-form-label text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="main-form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span class="main-form-label text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" class="main-form-label"></label>
            <input asp-for="PasswordConfirm" class="form-control" />
            <span class="main-form-label text-danger" asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input class="button button-success main-form-btn" type="submit" value="Готово" />
        </div>
    </form>
</div>

