@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="main-form-container col-8">
    <div class="main-form-title text-center">Сброс пароля</div>
    <p class="description-paragraph main-form-label-lg text-center">
        Ваш пароль был успешно изменён. Теперь Вы можете <a asp-controller="Account" asp-action="Login">войти</a> в свой аккаунт. 
    </p>
</div>