@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav mr-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown main-form-label">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a asp-controller="Account" asp-action="Index" id="account" class="dropdown-item">Аккаунт</a>

                @if (User.IsInRole("admin"))
                {
                    <a asp-controller="Admin" asp-action="Index" id="manage" class="dropdown-item">Управление</a>
                }

                <form id="logoutForm" class="dropdown-item" asp-controller="Account" asp-action="Logout">
                    <input id="logout" class="btn-link dropdown-item" type="submit" value="Выйти"/>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="main-form-label nav-link" id="register" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="main-form-label nav-link" id="login" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    }
</ul>