@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav mr-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form id="manageForm" class="dropdown-item form-inline" asp-controller="Account" asp-action="Index">
                    <button id="manage" type="submit" class="nav-link btn btn-link text-dark">Аккаунт</button>
                </form>
                @if (User.IsInRole("admin"))
                {
                    <form id="administrationForm" class="dropdown-item form-inline" asp-controller="Admin" asp-action="Index">
                        <button id="administration" type="submit" class="nav-link btn btn-link text-dark">Админ-панель</button>
                    </form>
                }
                <form id="logoutForm" class="dropdown-item form-inline" asp-controller="Account" asp-action="Logout">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    }
</ul>