@using VisualAlgorithms.Components
@model VisualAlgorithms.ViewModels.TestQuestionCreateViewModel

@{
    ViewData["Title"] = "Добавление вопроса";
}

<h1>Create</h1>

<h4>InfoQuestion</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        @(await Html.RenderComponentAsync<TestQuestionCreateComponent>(RenderMode.ServerPrerendered, new { QuestionModel = Model }))
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>