@using Microsoft.AspNetCore.Identity
@using VisualAlgorithms.Components
@model VisualAlgorithms.ViewModels.TestQuestionViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Редактирование вопроса";
    Model.UserId = UserManager.GetUserId(User);
}

<div class="main-form-title text-center">Вопрос @Model.QuestionNumber</div>
@(await Html.RenderComponentAsync<TestQuestionEditComponent>(RenderMode.ServerPrerendered, new { QuestionModel = Model }))

