@model VisualAlgorithms.Models.Algorithm

<div>
    <h3 class="description-section-title">Определение</h3>
    <hr />
    <div class="description-container">
        <div class="col-8">
            <p class="description-paragraph">
                <b>Бинарное дерево поиска</b> — это двоичное дерево, для которого выполняются следующие дополнительные условия (свойства дерева поиска):

                <ul>
                    <li>Каждый узел имеет не более двух потомков.</li>
                    <li>У всех узлов левого поддерева произвольного узла X значения ключей данных меньше, чем значение ключа данных самого узла X.</li>
                    <li>У всех узлов правого поддерева произвольного узла X значения ключей данных больше либо равны, чем значение ключа данных самого узла X.</li>
                </ul>
            </p>
            <p class="description-paragraph">
                Основным преимуществом бинарного дерева поиска перед другими структурами данных является возможная высокая эффективность реализации основанных на нём алгоритмов поиска и сортировки.
            </p>
        </div>
        <div class="col-4">
            <img class="description-image" src="@Model.ImageUrl" />
        </div>
    </div>
</div>
<div>
    <h3 class="description-section-title">Основные операции</h3>
    <hr />
    <div class="description-container">
        <div class="col-8">
            
        </div>
        <div class="col-4">
            @{ await Html.RenderPartialAsync("_AlgorithmTimeComplexity", Model.AlgorithmTimeComplexity);}
        </div>
    </div>
</div>