@model VisualAlgorithms.Models.Algorithm

<div>
    <h3 class="description-section-title">@Model.Name</h3>
    <hr />
    <div class="description-container">
        <div class="col-8">
            <div class="description-paragraph">
                <b>Сортировка пузырьком</b> — простой в реализации, но малоэффективный алгоритм сортировки.
                Данный метод изучается одним из первых в курсе теории алгоритмов, в то время как на практике используется очень редко, так является
                эффективным лишь для небольших массивов.
            </div>
            <div class="description-paragraph">
                Визуализация данного алгоритма представлена в
                <a asp-controller="Constructor" asp-action="Module" asp-route-id="@Model.Tag">Конструкторе</a>.
            </div>
            <div class="description-title"></div>
            <div class="description-paragraph">
                <h5>Принцип работы</h5>
                Алгоритм состоит из повторяющихся проходов по сортируемому массиву. 
                За каждый проход элементы последовательно сравниваются попарно и, если порядок в паре неверный, выполняется обмен элементов. 
                Проходы по массиву повторяются <i>N-1</i> раз или до тех пор, пока на очередном проходе не окажется, 
                что обмены больше не нужны, что означает — массив отсортирован.
                При каждом проходе алгоритма по внутреннему циклу, очередной наибольший элемент массива ставится на своё место в конце массива 
                рядом с предыдущим «наибольшим элементом», а наименьший элемент перемещается на одну позицию к началу массива 
                («всплывает» до нужной позиции, как пузырёк в воде — отсюда и название алгоритма).
            </div>
        </div>
        <div class="col-4">
            <img class="description-image" src="@Model.ImageUrl" />
            <div class="description-title"></div>
            @{ await Html.RenderPartialAsync("_AlgorithmTimeComplexity", Model.AlgorithmTimeComplexity);}
        </div>
    </div>
</div>