@model VisualAlgorithms.Models.Algorithm

<div>
    <h3 class="description-section-title">В разработке</h3>
    <hr />
    <div class="description-container">
        <div class="col-8">
        </div>
        <div class="col-4">
            <img class="description-image" src="@Model.ImageUrl" />
            <div class="description-title"></div>
            @{ await Html.RenderPartialAsync("_AlgorithmTimeComplexity", Model.AlgorithmTimeComplexity);}
        </div>
    </div>
</div>