@model IEnumerable<Algorithm>
@{
    ViewData["Title"] = "Алгоритмы";
}

<div class="main-form-title text-center">Алгоритмы</div>
<div class="card-deck">
    @foreach (var algorithm in Model)
    {
        <div class="card">
            <img class="card-img-top" src="images/@algorithm.ImageUrl" alt="Algorithm image">
            <div class="card-body card-body-bordered">
                <h5 class="card-title">@algorithm.Name</h5>
                <div class="button-box">
                    <a class="button col-5" asp-controller="Algorithms" asp-action="Info" asp-route-id="@algorithm.Tag">
                        Информация
                    </a>
                    <a class="button button-primary col-5" asp-controller="Constructor" asp-action="Module" asp-route-id="@algorithm.Tag">
                        Конструктор
                    </a>
                </div>
            </div>
        </div>
    }
</div>