@model VisualAlgorithms.Models.Test

@{
    ViewData["Title"] = "Удаление теста";
}

<h1>Delete</h1>

<h3>Вы действительно хотите удалить тест?</h3>
<div>
    <h4>Test</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="AlgorithmId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="Tests" asp-action="Edit" asp-route-id="@Model.Id">Back to List</a>
    </form>
</div>
