@model VisualAlgorithms.Models.UserAnswer

@{
    var title = $"Вопрос {ViewBag.QuestionNumber}";
    ViewData["Title"] = title;
}

@if (!string.IsNullOrEmpty(Model.TestQuestion.Image))
{
    <div class="main-form-container">
        <div class="main-form-title text-center">@title</div>
        <div class="question-container">
            <div class="main-form col-6">
                @{ await Html.RenderPartialAsync("_PassingTestQuestion", Model);}
            </div>
            <div class="col-6 question-img-container">
                <img id="image" class="test-img-bordered cursor-pointer" src="images/test-questions/@Model.TestQuestion.Image" alt="img" />
                <div id="fullImage" class="test-img-full-container">
                    <img class="test-img-full" src="images/test-questions/@Model.TestQuestion.Image" alt="img" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="main-form-container col-6">
        <div class="main-form-title text-center">@title</div>
        <div class="main-form">
            @{ await Html.RenderPartialAsync("_PassingTestQuestion", Model);}
        </div>
    </div>
}

@section scripts {
    <script>
        $("#image").click(function() {
            $("#fullImage").show();
        });

        $("#fullImage").click(function() {
            $("#fullImage").hide();
        });
    </script>
}