@model VisualAlgorithms.Models.UserTest

@{
    ViewData["Title"] = "Результат";
}

<div class="main-form-container col-4">
    <div class="main-form-title text-center">Результат</div>
    <div class="main-form">
        <dl class="row">
            <dt class="col-sm-9">
                <label asp-for="TotalQuestions"></label>
            </dt>
            <dd class="col-sm-3">@Model.TotalQuestions</dd>
            <dt class="col-sm-9">
                <label asp-for="CorrectAnswers"></label>
            </dt>
            <dd class="col-sm-3">@Model.CorrectAnswers</dd>
            <dt class="col-sm-9">
                <label asp-for="Result"></label>
            </dt>
            <dd class="col-sm-3">@(Model.Result)%</dd>
        </dl>
        <hr />
        <a class="button button-primary main-form-btn" asp-controller="Tests" asp-action="Index">Готово</a>
    </div>
</div>
