.app {
  font-family: sans-serif;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.blockSort {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.element {
  position: absolute;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  transition: 1s all ease;
  border-radius: 50%;
  line-height: 50px;
}

#btnSort {
  display: block;
  font-size: 20px;
  margin: 100px auto;
}