.card-body-bordered { border-top: 1px solid rgba(0, 0, 0, .125); }

.card-body-btn { width: 135px; }

.card-body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.card-deck-row { margin-bottom: 25px; }

.card-hidden { border: none; }

.card-test-result { padding: 7px 0; }

.home-carousel {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.home-carousel-img {
    border-radius: 0.25rem;
    filter: brightness(50%);
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.question-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.question-img-container {
    display: flex;
    flex-direction: column;
}

.test-img-bordered {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
    min-width: 75%;
    margin: auto;
    margin-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.test-img-close:hover {
    border: 2px dashed #ff0000;
    border-radius: 5px;
    opacity: 0.5;
}

.test-img-full-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: none;
}

.test-img-full {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.drag-drop-zone {
    border: 2px dashed #1E90FF;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #1E90FF;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.drag-drop-zone:hover { background-color: #f5f5f5; }

.drag-drop-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

pre {
    background-color: #f0f0f0;
    overflow: auto;
    padding: 1rem;
    height: 10rem;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button-box-col {
    display: flex;
    flex-direction: column;
}

.button-box-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-box-started {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.button {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, .2);
    -webkit-appearance: none;
    outline: none;
}

.button:hover {
    color: #24292e;
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, .35);
    text-decoration: none;
}

.button:active {
    color: #24292e;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, .35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
    text-decoration: none;
}

.button-success {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
}

.button-success:hover {
    color: #fff;
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, .5);
}

.button-success:active {
    color: #fff;
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27, 31, 35, .5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
}

.button-primary {
    color: #fff;
    background-color: #007dfa;
    background-image: linear-gradient(-180deg, #007dfa, #0B44EF 90%);
}

.button-primary:hover {
    color: #fff;
    background-color: #007dfa;
    background-image: linear-gradient(-180deg, #057cf2, #0636c7 90%);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
}

.button-primary:active {
    color: #fff;
    background-color: #0935ba;
    background-image: none;
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
    border-color: rgba(27, 31, 35, .5);
}

.button-danger {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #de4450, #cb2431 90%);
    border-color: rgba(27, 31, 35, .5);
}

.button-danger:hover {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #d13f4a, #bd202c 90%);
    border-color: rgba(27, 31, 35, .5);
}

.button-danger:active {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27, 31, 35, .5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #212529;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.main-form {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 20px;
}

.main-form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-form-title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.main-form-btn {
    margin-top: 10px;
    width: 100%;
}

.main-form-label {
    font-size: 14px;
    font-weight: 600;
}

.main-form-label-lg {
    font-size: 15px;
    font-weight: 600;
}

.main-form-label-bold {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.main-link {
    font-size: 20px;
    color: #1E90FF;
}

.table-button { width: 100%; }

.table td, .table thead th { vertical-align: middle; }

.description-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.description-table { margin-bottom: 25px; }

.description-title { margin: 30px 0; }

.description-section-title {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.2;
}

.description-image {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 5px;
}

.description-image-container {
    margin-bottom: 35px;
}

.description-paragraph { line-height: 1.5; }

.icon-primary {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-button {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    position: relative;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-button:active {
    background-color: rgba(0, 0, 0, 0.2);
}
