
@{
    ViewData["Title"] = "Админ-панель";
}

<h1>Index</h1>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Tests">Тесты</a>
    <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Stats">Статистика</a>
</div>

