@{
    ViewData["Title"] = "Управление";
}

<div class="main-form-container col-4">
    <div class="main-form-title text-center">Управление</div>
    <div class="list-group text-center">
        <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Tests">Тесты</a>
        <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Stats">Статистика</a>
        <a class="list-group-item list-group-item-action" asp-controller="Users" asp-action="Index">Пользователи</a>
        <a class="list-group-item list-group-item-action" asp-controller="Groups" asp-action="Index">Группы</a>
    </div>
</div>