@model VisualAlgorithms.Models.Algorithm

<link rel="stylesheet" href="~/constructor/@Model.Tag/@(Model.Tag).css" />
<div class="app">
    <h1 class="title">Insertion Sort</h1>
    <div class="blockSort"></div>
    <button id="btnSort" class="btnSort">Отсортировать</button>
</div>
<script src="~/constructor/@Model.Tag/@(Model.Tag).js"></script>