@model VisualAlgorithms.Models.Algorithm

<link rel="stylesheet" href="~/constructor/@Model.Tag/@(Model.Tag).css" />
<div>
        <h1 class="title main-form-title">Сортировка выбором</h1>
        <div class="blockSort"></div>
        <button id="btnSort" class="btnSort button button-primary">Отсортировать</button>

        <div class="h2description">
        Краткое описание сортировки
        </div>
        <div class="description">
        Исходная последовательность представляется как последовательный набор отдельных элементов (представлены разными цветами).
        Из подпоследовательностей формируем упорядоченные пары методом слияния, затем - упорядоченные четверки и так далее увеличивая шаг в 2 раза (каждая новая подпоследовательность после слияния выделяется одним цветом).

        </div>
</div>
<script src="~/constructor/@Model.Tag/@(Model.Tag).js"></script>