@model VisualAlgorithms.Models.Algorithm

<link rel="stylesheet" href="~/constructor/@Model.Tag/@(Model.Tag).css" />
<div class="main-form-title">В разработке</div>
<script src="~/constructor/@Model.Tag/@(Model.Tag).js"></script>

